@{
    ViewData["Title"] = "Home Page";
}

<div class= "text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>

@foreach (Pais pais in ViewBag.ListaPaises)
{
    <a href='@Url.Action("detallePais")'><img src="/Imagenes/@pais.imgBandera" alt="@pais"></a>
}


