@{
    ViewData["Title"] = "Home Page";
}

<div class= "text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>

@foreach(Pais paises in ViewBag.ListarPaises)
{
    <a href='@Url.Action("DetallePais", new {pais = paises.Nombre})'> <img src="/Imagenes/@paises.imgBandera"></a>
}


